<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548703424075-ushr272rkh4lqa19f6ubc2m7ckrhioe9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548703424075-ushr272rkh4lqa19f6ubc2m7ckrhioe9</string>
	<key>API_KEY</key>
	<string>AIzaSyBRF47ESWF7vHys2uLExez15UMvuXOqpIs</string>
	<key>GCM_SENDER_ID</key>
	<string>548703424075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FullSail.PP4-Recipes</string>
	<key>PROJECT_ID</key>
	<string>pp4-mdv</string>
	<key>STORAGE_BUCKET</key>
	<string>pp4-mdv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548703424075:ios:dcfa8901866cbd658707ce</string>
	<key>DATABASE_URL</key>
	<string>https://pp4-mdv.firebaseio.com</string>
</dict>
</plist>